@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2563eb;
  --secondary: #16a34a;
  --hover: #374151; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #1d4ed8;
    --secondary: #15803d;
    --hover: #4b5563; 
  }
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] font-sans;
}
