@import "tailwindcss";

:root {
  --background: #0a0a0a; /* gray-900 */
  --foreground: #ededed;
  --primary: #2563eb; /* blue-600 */
  --primary-hover: #1d4ed8; /* blue-700 */
  --secondary: #16a34a; /* green-600 */
  --secondary-hover: #15803d; /* green-700 */
  --hover: #374151; /* gray-700 */

  --font-sans: 'Arial', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
